body{
    margin: 0;
    padding: 0;
    background-color: #0b48a3;
    font-family: 'Courier New', Courier, monospace;
    cursor: url('https://cdn.freebiesupply.com/logos/large/2x/windows-cursor-logo-png-transparent.png'), auto;
}

.footer{
    width: 100%;
    height: 40px;
    background-color: rgb(190, 190, 190);
    position: absolute;
    bottom: 0;
}

.start-menu{
    width: 100px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: rgb(190, 190, 190); 
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.note-menu{
    width: 170px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: rgb(153, 153, 153); 
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

#clock{
    float: right;
    right: 1px;
    top: -6px;
    position: absolute;
    text-align: center;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 2px;
}

#date-time{
    font-size: 15px;
}

.explorer{
    width: 70px;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.explorer a{
    color: white;
    text-decoration: none;
}

.explorer a:visited{
    color: white;
}

.filter-old{
    width:100vw;
    height:100vh;
    position:absolute;
    opacity:.1;
    top:0;
    left:0;
    z-index:1000;
    pointer-events:none;
   background-image: -webkit-linear-gradient(#111 0%, white 20%, #111 40%, white 60%, #111 80%);
   background-repeat: repeat;
   background-position: 0 0;
   background-size: 100% 60px;
   -webkit-animation: stripes 4s linear infinite;
   animation: stripes 4s linear infinite;
}


@-webkit-keyframes stripes {
100% {
background-position: 0 -60px;
}
}

@keyframes stripes {
100% {
background-position: 0 -60px;
}
}

.notepad{
    position: absolute;
    right: 150px;
    top: 50px;
    background-color: #c0c0cc;
    width: 600px;
    height: 700px;
}

.notepad-bar{
    background-color: #25357e;
    width: 95%;
    height: 30px;
    color: white;
    margin: 0;
    padding: 0;
    top: 10;
    left: 15px;
    position: absolute;
}

.notepad-bar p{
    position: absolute;
    left: 30;
    top: -9px;
}

.notepad-area{
    width: 95%;
    left: 15px;
    height: 600px;
    background-color: white;
    position: absolute;
    margin-top: 80px;
}

.notepad-area p{
    padding: 10px;
    font-size: 40px;
}

@media only screen and (max-width: 900px) {

    .notepad{
        position: absolute;
        right: 150px;
        top: 50px;
        background-color: #c0c0cc;
        width: 60%;
        height: 700px;
    }
    
    .notepad-bar{
        background-color: #25357e;
        width: 90%;
        height: 30px;
        color: white;
        margin: 0;
        padding: 0;
        top: 10;
        left: 15px;
        position: absolute;
    }
    
    .notepad-bar p{
        position: absolute;
        left: 30;
        top: -9px;
    }
    
    .notepad-area{
        width: 90%;
        left: 15px;
        height: 600px;
        background-color: white;
        position: absolute;
        margin-top: 80px;
    }
    
    .notepad-area p{
        padding: 10px;
        font-size: 20px;
    }

  }


  @media only screen and (max-width: 550px) {

    .notepad{
        position: absolute;
        right: 20px;
        top: 50px;
        background-color: #c0c0cc;
        width: 60%;
        height: 500px;
    }
    
    .notepad-bar{
        background-color: #25357e;
        width: 90%;
        height: 30px;
        color: white;
        margin: 0;
        padding: 0;
        top: 10;
        left: 15px;
        position: absolute;
    }
    
    .notepad-bar p{
        position: absolute;
        left: 30;
        top: -9px;
    }
    
    .notepad-area{
        width: 90%;
        left: 15px;
        height: 600px;
        background-color: white;
        position: absolute;
        margin-top: 80px;
    }
    
    .notepad-area p{
        padding: 10px;
        font-size: 20px;
    }

  }

  @media only screen and (max-width: 480px) {

    .notepad{
        position: absolute;
        right: 20px;
        top: 50px;
        background-color: #c0c0cc;
        width: 60%;
        height: 700px;
    }
    
    .notepad-bar{
        background-color: #25357e;
        width: 90%;
        height: 30px;
        color: white;
        margin: 0;
        padding: 0;
        top: 10;
        left: 15px;
        position: absolute;
        font-size: 13px;
    }
    
    .notepad-bar p{
        position: absolute;
        left: 30;
        top: -9px;
    }
    
    .notepad-area{
        width: 90%;
        left: 15px;
        height: 600px;
        background-color: white;
        position: absolute;
        margin-top: 80px;
    }
    
    .notepad-area p{
        padding: 10px;
        font-size: 20px;
    }

    #date-time{
        width: 100px;
        font-size: 10px;
        float: right;
        margin-top: 15px;
    }

  }
